@import "rsuite/dist/rsuite.css";

.rs-picker-daterange-calendar-group {
  display: flex;
}

.rs-calendar-table-cell-selected.rs-calendar-table-cell-selected-start
  .rs-calendar-table-cell-content,
.rs-calendar-table-cell-selected.rs-calendar-table-cell-selected-end
  .rs-calendar-table-cell-content {
  color: white;
  background-color: #248700;
  border-radius: 4px;
}

.rs-calendar-table-cell-in-range::before {
  background-color: rgba(36, 135, 0, 0.17);
}

.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
  box-shadow: inset 0 0 0 1px rgba(36, 135, 0, 1);
}

.rs-picker-menu
  .rs-calendar
  .rs-calendar-table-cell:hover
  .rs-calendar-table-cell-content {
  background-color: lightgray !important;
  color: black !important;
}

.rs-btn-link {
  color: black !important;
}

.rs-btn-link:hover,
.rs-btn-link:focus {
  background-color: rgba(36, 135, 0, 0.17);
  text-decoration: initial;
}

.rs-btn-primary:disabled,
.rs-btn-primary.rs-btn-disabled {
  background-color: white;
  opacity: 1;
  box-shadow: inset 0 0 0 1px rgba(36, 135, 0, 1);
  color: rgba(36, 135, 0, 1);
}

.rs-btn-primary {
  background-color: white;
  opacity: 1;
  box-shadow: inset 0 0 0 1px rgba(36, 135, 0, 1);
  color: rgba(36, 135, 0, 1);
}

.rs-picker-toolbar .time-section-wrapper {
  justify-content: space-between;
  display: flex;
  width: 275px;
}

.rs-picker-toolbar .time-section-wrapper .time-input-wrapper {
  display: flex;
  width: 130px;
}

.rs-picker-toolbar .time-section-wrapper .time-input-wrapper input {
  width: 70px !important;
}

.rs-picker-toolbar .rs-picker-toolbar-right button {
  width: 80px !important;
  height: 30px !important;
  color: white;
  background-color: #248700;
}

.rs-picker-toolbar {
  align-items: center !important;
}

.rs-picker {
  /* width: 0px !important; */
  visibility: hidden;
}

.input-wrapper {
  z-index: 111;
}

.input-wrapper .date-range-input {
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background: transparent;
  padding-left: 10px;
  padding-right: 16px;
  font-size: 14px;
  text-align: center;
  outline-width: 0px;
  cursor: pointer;
  z-index: 1;
  min-width: 244px;
}

.rs-calendar-header-month-toolbar .rs-calendar-header-title {
  color: black !important;
}

.rs-btn-link:hover {
  color: rgba(36, 135, 0, 1) !important;
  background-color: white !important;
}

.rs-btn-link:focus {
  color: rgba(36, 135, 0, 1) !important;
  background-color: white !important;
}

.rs-btn-link:disabled,
.rs-btn-link.rs-btn-disabled {
  opacity: 1;
  color: rgba(36, 135, 0, 1) !important;
  background-color: white !important;
}

.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper .icon-wrapper {
  display: flex;
  align-items: center;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-left: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-right: 8px;
}

.border-right-0 {
  border-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.rs-anim-fade.rs-anim-in {
  left: 0px !important;
}
