.time-input-wrapper label {
  font-size: 14px;
  color: #71757b;
  margin: 10px;
}

.time-input-wrapper input {
  border: 1px solid #979797;
  font-size: 16px;
  padding: 10px 14px;
  color: #333333;
  border-radius: 2px;
}

.time-input-wrapper input:focus {
  outline-width: 0px;
}
